<div id="navbar">
    <div class="float-right">
<img id="pic" src="https://assets.capitalfm.com/2018/23/lilliya-scarlett-instagram-1528814125-custom-0.png" alt="">
<a href="/sign_up"><button class="btn btn-warning">Sign up</button></a>
</div>

</div>
<style>
#navbar{
    height:50px;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.233);
    position: fixed;
    top: 0;
    z-index: 5000;
}
#pic{
    width:40px;
    border-radius: 100%;
    
    margin-top: 5px;
    margin-right: 40px
}

</style>