<%include partials/header.ejs%>
<%include partials/navbar.ejs%>

<style>
    #form_body {
        max-width: 500px;
        margin: 150px auto;
        border: 1px solid #ced4da;
        border-radius: 7px;

    }

    #form {
        padding: 50px 50px 30PX;
    }

    input:focus {
        box-shadow: none !important;
        border: 2px solid #1a73e8 !important;
    }

    .label_on_focus {
        font-size: 1.2rem;
        font-weight: 400;
        color: #1a73e8;

    }

    label {
        transition: 150ms;
    }
    .form-check{
        margin:15px 0;
    }
</style>
<div class="container">

    <div id="form_body">
        <div id="form">
            <div class="alert alert-danger" role="alert"><%=max%></div>
            <form action="/sign_up" method="POST">
                <div class="form-group">
                    <label for="first_name">First name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First name">
                </div>

                <div class="form-group">
                    <label for="last_name">Last name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirm password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password"
                        placeholder="Confirm password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox">
                    <label class="form-check-label" for="checkbox">I agree to <a href="/terms">terms and conditions</a> and <a href="/privacy">privacy policy</a></label>
                </div>
                <button class="btn btn-primary btn-block">Sign up</button>
            </form>
        </div>
    </div>
</div>

<%include partials/foot.ejs%>
<%include partials/footer.ejs%>


<script>
    var inputs_id = ['first_name', 'last_name', 'password', 'confirm_password'];
    inputs_id.forEach(function (i) {
        $('#' + i).focus(function () { $('label[for=' + i + ']').addClass('label_on_focus') })
        $('#' + i).focusout(function () { $('label[for=' + i + ']').removeClass('label_on_focus') })
    });
    if ($('.alert').text() == "account added") {
        $('.alert').removeClass('alert-danger');
        $('.alert').addClass('alert-warning');
    }



    
</script>
